body {
    background-color: #fdf1d3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

iframe {
    border: none; 
    width: 100%;
    height: 100%;
}

#global-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    padding-bottom: 200px;
}

#wrapper1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;
    justify-content: left;
    padding: 20px;
}

#wrapper2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 40px;
    justify-content: left;
    padding: 20px;
}

#input{
    margin: 0 auto;
    width: 100%;
}

#input h3 {
    text-align: left;
    margin: 0;
}

#form {
    padding : 10px;
    box-shadow: 5px 5px 25px #999;
    background-color: #f0eadf;
    
}

#input button {
    white-space: nowrap;
}

#podaci-tabela td {
    white-space: nowrap;
}

.data {
    padding-left: 30px;
    text-align: right;
}

#input td {
    width: 100px;  
    height: 30px;
    text-align: left;
    vertical-align: bottom;
    padding: 2px;
    white-space: nowrap;
    
}

#lokacija-td input {
    float: right;
}

#form {
    grid-column: 1;
    grid-row: span 2;
}

#prikaz-rangova-cijena {
    padding : 10px;
    box-shadow: 5px 5px 25px #999;
    background-color: #f0eadf;
    grid-column: 2;
    grid-row: 1;
}

#prikaz-rangova-godina {
    padding : 10px;
    box-shadow: 5px 5px 25px #999;
    background-color: #f0eadf;
    grid-column: 3;
    grid-row: 1;
}

#prikaz-rangova-cijena ul,
#prikaz-rangova-godina ul {
    text-align: left;
}


#histo-wrapper {
    grid-column: span 3;
    grid-row: auto;
}

#histogrami {
    display: grid; /* Enable grid layout inside the histogram container */
    grid-template-columns: auto;
    grid-template-rows: auto;
    gap: 20px;
    justify-content: center;
    height: 400px;
    max-width: 2fr;
}

#histogrami canvas {
    border: 2px solid #c0c0c0;
}

#naslov {
    text-align: center;
    font-weight: bold;
    font-size: 36px;
    margin: 0 auto;
    max-width: 100%;
}

#naslov2 {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    margin: 0 auto;
    max-width: 100%;
    padding-top: 20px;
}

#prosjek, #outlier, #moje-nekretnine {
    padding : 10px;
    box-shadow: 5px 5px 25px #999;
    background-color: #f0eadf;
}

#tabela-prosjek, #tabela-prosjek table {
    text-align: left;
    padding: 5px;
}
#tabela-outlier table, #tabela-outlier {
    text-align: left;
    padding: 5px;
}
#tabela-moje-nekretnine, #tabela-moje-nekretnine table {
    text-align: left;
    padding: 5px;
}

#tabela-prosjek td, #tabela-outlier td, #tabela-moje-nekretnine td {
    white-space: nowrap;
}

