body {
  background-color: #fdf1d3;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

body h3 {
  margin-left: 20px;
}

iframe {
  border: none; 
  width: 100%;
  height: 100%;
}

/* Stil za div #osnovno */
#osnovno {
  text-align: left;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#osnovno img {
  max-width: 100%;
  height: auto;
}

/* Stil za div #detalji */
#detalji {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
}

#kolona1 {
  order: 1;
  flex: 1 1 auto;
  align-self: auto;
}

#kolona2 {
  order: 2;
  flex: 1 1 auto;
  align-self: auto;
}

#opis {
  order: 3;
  flex: 0 1 100%;
  align-self: auto;
}


/* Stil za div #upiti */
#upiti, #ponude, #zahtjevi {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;
  padding: 20px;
  margin: 20px;
  gap: 20px;
}

.upit, .ponuda, .zahtjev {
  width: 100%;
  border: 1px solid #000;
  padding: 10px;
  background-color: white;
}

/*
@media screen and (max-width: 599px) {
  #upiti {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    gap: 20px;
  }

  .upit {
    display: none; 
  }

  .upit:first-child {
    display: block;
    white-space: normal;
  }

  #buttons {
    display: block;
    text-align: center;
    padding: 10px;
  }
}
*/

/* Izmijenjeni upiti, spirala 3*/

#upiti, #zahtjevi, #ponude {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  gap: 20px;
}

.upit {
  display: none; 
}

.upit:first-child {
  display: block;
  white-space: normal;
}

#buttons, #buttons-zahtjevi {
  display: block;
  text-align: center;
  padding: 10px;
}

/*
@media screen and (min-width: 801px) {
  #upiti {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 20px;
  }

  .upit {
    flex: 1 1 45%;
  }

}
*/

#top5-nekretnina {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  margin: 20px;
}

.nekretnina {
  border: 1px solid #000;
  padding: 20px;
  background-color: white;
  text-align: center;
}

#top5-naslov {
  text-align: center;
  display: none;
}

.error {
  color: red;
  font-weight: bold;
}

#forma-interesovanje{
  margin-left: 20px;
  margin-bottom: 200px;
}

#forma-interesovanje select{
  padding: 10px;
  margin: 10px;
}

#forma-interesovanje label{
  margin: 10px;
}

#interesovanjeBtn{
  padding: 10px;
  margin: 15px;
}
